body{
    background-image: url("fundo.jpg");
}
div#divCabecalho {
    height: 15%;
    /*border: 1px solid #000;*/
/*    background-image: url("ifg-inhumas.jpg");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;*/
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
div.container img {
    max-width: 100%; 
    max-height: 100%;
}
div#divMenu {
    float: left;
    width: 18%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
div#divConteudo {
    margin-left: 19%;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
}
div#divTitulo {
    margin-left: 10%;
}
div#divMensagens {
    margin-left: 10%;
}
div#divConsulta {
    margin-left: 10%;
}
div#divDados {
    margin-left: 10%;
}
div#rodape{
    clear: both;
    height: 50px;
    border: 1px solid #000;
}
body{
    font-family: sans-serif;
    margin: 2px 2px 2px 2px;
    color: #101213;
}
h1#topo {
    font-size: x-large;
}

